.register__back {
  height: fit-content;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}
.form__container {
  margin-top: 100px;
  width: 400px;
  display: flex;
  flex-direction: column;

  padding: 30px;
  border-radius: 7px;
  border: 1px solid rgb(255, 180, 40);
}
.form__title {
  font-weight: 600;
  align-self: center;
  margin-bottom: 10px;
}

.form-group {
  margin-top: 20px;
}
input {
  width: 100%;
}
label {
  font-weight: 600;
  cursor: pointer;
}
.error {
  color: red;
  list-style: none;
}
#sub_but {
  margin-top: 10px;
  border: 1px solid rgb(2, 126, 18);
}
#sub_but:hover {
  transform: scale(1.01);
  cursor: pointer;
}
