.thank_you {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 630px;
  background-color: rgb(251, 255, 255);
}
.thank_youText {
  height: fit-content;
  max-width: 400px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: auto;
  border: 2px solid #fec10b;
  box-shadow: 10px 10px 10px 10px rgb(247, 247, 247);
}
.header {
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
}
.footer {
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
}
p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
  font-weight: 600;
  font-size: medium;
}
