{% extends 'base.html' %} {% block content %} {% load static %}
<div class class="portfolios__back">
  <div class="port__body">
    <div class="port__header">
      <h3 class="project_description">
        Hello Customers if you want to check our skills from completed
        projects/clone here we bring you some of our stuffs with the programming
        techs we used
      </h3>
    </div>
    <div class="projects">
      <div class="container mx-auto">
        <div class="row mx-auto" id="row_">
          <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
            <div class="card" style="width: 20rem">
              <img
                src="{%static 'images/netflix.jpg' %}"
                style="height: 30rem"
                class="card-img-top"
                alt="netflix clone image"
              />
              <div class="card-body" style="background-color: black">
                <h5
                  class="project_description"
                  style="color: white; text-align: center"
                >
                  Neflix clone made using react js framework
                </h5>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
            <div class="card" style="width: 20rem">
              <img
                src="{% static 'images/spotify.jpg' %}"
                style="height: 30rem"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body" style="background-color: black">
                <h5 class="project_description" style="color: white">
                  Spotify clone made using react js + Redux
                </h5>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
            <div class="card" style="width: 20rem">
              <img
                src="{%static 'images/instagram.jpg' %}"
                style="height: 30rem"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body" style="background-color: black">
                <h5 class="project_description" style="color: white">
                  instagram clone made using react clone
                </h5>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
            <div class="card" style="width: 20rem">
              <img
                src="{%static 'images/amazon.jpg' %}"
                style="height: 30rem"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body" style="background-color: black">
                <h5 class="project_description" style="color: white">
                  Full stack Amazon clone made using React + Firebase + REDUX
                  clone
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
