{% extends 'base.html' %} {% load static %} {% block content %}
<div class="register__back" style="background-image: linear-gradient(to bottom, #161C27, #596e97);">
  <div class="form__container" style="background-color: white; margin-top: 100px;
  width: 400px;
  display: flex;
  flex-direction: column;

  padding: 30px;
  border-radius: 7px;
  border: 1px solid rgb(255, 180, 40);" >
    <h5 class="form__title">Registration form</h5>
    <div class="form__fields">
      <form method="POST" action="" style="font-weight: 600;">
        {% csrf_token %}
        {{form}}
        </div>
   
        <input
          style="
            background-color: cornflowerblue;
            color: black;
            font-weight: 700;
            margin-top: 20px;
          "
          type="submit"
          name="sub_but"
          class="form-control"
          id="sub_but"
          required
        />
      </form>
    </div>
  </div>
</div>
{% endblock content %}
